.container{
    margin-bottom: 100px;
}
.top-bg{
    background-color:#fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: chocolate;
}
.buy-now-button{
    background-color:rgb(237, 63, 10);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;

}
.cat1, .cat2, .cat3{
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
}

.cat1{
    background-color:rgb(192, 13, 232);
}
.cat2{
    background-color:rgb(9, 185, 50);
}
.cat3{
    background-color:blue;
}
.categories img{
    width: 120px;
}
.card{
    border: none;
    box-shadow: 10px 10px 14px #678a4e;
    border-radius: 15px;
}
.card-footer{
    border: none;
    color:white;
}